<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">


<dom-module id="gestor-clientes">

  <template>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <style>
      :host {
        display: block;
      }
    </style>
    <div class="container">
      <div class="row">
        <h2>Gestor de Clientes</h2>
      </div>
      <div class="row">
        <button type="button" on-click="obtenerClientes" class="btn btn-primary">Obtener Clientes</button>
      </div>
      <div class="row">
        <button type="button" on-click="insertarCliente" class="btn btn-outline-dark">Insertar Clientes</button>
      </div>
      <div class="row">
        <table class="table table-striped col-lg-12 col-xs-12">
          <tbody>
              <template is="dom-repeat" items="{{clientes}}">
                <tr>
                  <td>[[item.idcliente]]</td>
                  <td>[[item.nombre]]</td>
                  <td>[[item.apellido]]</td>
                </tr>
              </template>
          </tbody>
        </table>
      </div>
    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class GestorClientes extends Polymer.Element {
      static get is() { return 'gestor-clientes'; }
      static get properties() {
        return {
          clientes: {
            type: Array,
            notify: true
          }
        }
      }

      obtenerClientes() {
        var req = new XMLHttpRequest();
        //req.open("GET", "https://services.odata.org/V4/NorthWind/NorthWind.svc/Customers",false);
        req.open("GET", "http://127.0.0.1:3001/Clientes",false);
        //req.setRequestHeader("Accept","application/json");
        req.send();
        //this.clientes = JSON.parse(req.responseText).value;
        this.clientes = JSON.parse(req.responseText);
        console.log(this.clientes);
        }

      insertarCliente() {
        var req = new XMLHttpRequest();
        req.open("POST", "https://services.odata.org/V4/NorthWind/NorthWind.svc/Customers",false);
        req.setRequestHeader("Accept","application/json");
        req.setRequestHeader("Content-Type","application/json");
        var nuevoCliente = {"CustomerId":12345, "ContactName":"Pepe", "CompanyName":"Pepe's Erotic Shop"};
        var body = JSON.stringify(nuevoCliente);
        req.send(body);
        this.respuesta = req.responseText;
        console.log(this.respuesta);
        }

    }

    window.customElements.define(GestorClientes.is, GestorClientes);
  </script>
</dom-module>
