<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

Access-Control-Allow-Origin: *

<dom-module id="login-app">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <div class="container">
      <div class="row">
        <h1>Ingreso a la App</h1>
        <br>
        Email: <input type="email" value="{{email::input}}">
        <br>
        Password: <input type="password" value="{{password::input}}">
        <br>
        <button on-click="login" class="btn btn-success">Login</button>
      </div>
      <div class="row" hidden$={{!logueado}}>
        <span>Bienvenido a la app</span>
        Otra cosa
      </div>
      <iron-ajax
        id="doLogin"
        url="http://localhost:3001/login"
        content-type="application/json"
        crossDomain: true
        dataType: 'jsonp'
        method="POST"
        handle-as="json"
        headers="Access-Control-Allow-Headers: *"
        on-response="manageAJAXResponse"
        on-error="showError"></iron-ajax>

      </div>
    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginApp extends Polymer.Element {
      static get is() { return 'login-app'; }
      static get properties() {
        return {
          email: {
            type: String
          },
          password: {
            type: String
          },
          logueado: {
            type: Boolean,
            value: false
          }
        };
      }
      /* metodo */
      login() {
        var loginData = {"email":this.email, "password":this.password};
        console.log(loginData);
        this.$.doLogin.body = JSON.stringify(loginData);
        this.$.doLogin.generateRequest();
        console.log("peticion enviada");
      }
      manageAJAXResponse(evt, resp) {
        console.log("Respuesta Recibida del servicio api rest apimx20201");
        //console.log(data.detail.response);
        this.logueado = true;
      }
      showError(error) {
        console.log("ocurrio un error");
        alert("ocurrio un error");
        this.logueado = false;
        console.log(error);
      }
    }

    window.customElements.define(LoginApp.is, LoginApp);
  </script>
</dom-module>
