<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="mi-visor">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
    <h3>My Valor es [ [[prop2]] ]</h3>
    <div class="container">
      <div class="row">
        <img class="col-lg-8 col-md-8 col-xs-12" src="https://image.flaticon.com/icons/svg/1571/1571058.svg" width==="200" height="200"/>
      </div>
      <div class="row">
        <button on-click="incrementar" type="button" name="button1" class="btn btn-success col-lg-4 col-md-4 col-xs-12">Cargar Datos</button>
        <input type="text" name="nonbre"  value="{{prop1::input}}"/>
        <input type="text" name="nonbre2"  value="[[prop1]]"/>
      </div>
      <div class="row">
        <table class="table table-striped col-lg-12 col-xs-12">
          <thead>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellido</th>
          </thead>
          <tbody>
              <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
              </tr>
          </tbody>
      </div>
    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class MiVisor extends Polymer.Element {
      static get is() { return 'mi-visor'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'mi-visor'
          },
          prop2: {
            type: Number,
            value: 999
          }
        };
      }
      /* metodo */
      incrementar() {
        this.prop2 = this.prop2+1;
        console.log(this.prop1);
        console.log(this.prop2);
      }
    }

    window.customElements.define(MiVisor.is, MiVisor);
  </script>
</dom-module>
